@import "variable"
@import "reset"

body
  font 12px/1.5
  color $primaryColor
.img-responsive
  display inline-block
  height auto
  max-width 100%
.l
  float left
.r
  float right
.tc
  text-align center
.clearfix
  zoom 1
  &:after
    display block
    content '.'
    width 0
    height 0
    visibility hidden
    clear both
.substring
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
box-shadow()
  box-shadow 0 0 8px 0 rgba(194, 194, 194, .3)